<!-- Card with Page Content -->
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <h4 class="card-title">Explore all the latest sports articles and leave comments on your favourite ones!</h4>
      </div>
      <div class="card-body">
        <a href="/articles" class="btn btn-secondary">Enter Site <i class="fas fa-basketball-ball"></i></a>
      </div>
    </div>
  </div>